body {
    background-color: #fcc9b5;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h2 {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
h3 {
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
p {
    line-height: 150%;
}
img {
    border: 5px;
    border-color: green;
    border-style: solid;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}
li {
    display: inline-block;
    margin-left: 50px;
}